.login-box{
    top:65%;
    width: 90%;

}
.cuadrado{
    background-color: #264CBF;

}
.circulo{
    background-color: #6F23D9;

}
.rectangulo{
    background-color: #6F23D9;

}
.triangulo{
    background-color: #264CBF;
    
}
.triangulo, .rectangulo, .circulo, .cuadrado{
    width: 25%;
    border-radius: 10px;
    border: solid black 5px;
}
.cards{
    display: flex ;
    text-align: center;
}
.cards, div{

    padding: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    
}
img{
    width: 200px;
    margin-bottom: 20px;
}
#cuadrado{
 width: 150px; ;
}

 button:hover{
    background-color: #03e9f4;
    transition: 0.5s;
    transform: scale(1.3,1.3);
}



.modal{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;/*Deja el objeto fijo*/
    z-index: 1; /*Trae toda la capa al frente*/
    top: 0;
    padding-top: 100px;
    display: none;

}


#contenidoModal, #contenidoModalCP{
    background-color: #264CBF;
    width: 500px;
    margin: auto;
    padding: 1rem;

 
}



.cerrarModal, .cerrarModalCP{
    float: right;
    font-size: 18;
    padding: 5px;
}
.cerrarModal:hover, .cerrarModalCP:hover{
    cursor: pointer;
    background-color: rgb(231, 9, 9);
}

.ACirculo{
    width: 100%;
    display: flex;
}

.formulario{
    background-color: sandybrown;
    width: 200px;
    margin: auto;
    margin-top: 200px;
    padding: 1rem;
}

.mensaje{
    background-color: aliceblue;
    padding: 1rem;
    border: solid #03e9f4 2px;

}
#resultACirculo{
    display: none;
}
