html {
    height: 110%;
    font-family: 'Playfair', serif;
  }

  
  .login-box {
    top: 65%;
    width: 800px;
    padding: 40px;

  }
  

  .login-box .user-box {
    position: relative;
  }


table{
    text-align: center;
    color: #fff;
    border: 1px solid #03e9f4;
    width: 100%;
}
tr, td, th{
    border: 1px solid #03e9f4;
    padding: 10px;
}

td button{
    border-radius: 10px;
    background-color:#ffff;
}

td button:hover{
    background:#6B1DCF;
    color: #fff;
    transition: 0.3s;
}