.login-box {

    top: 60%;

    width: 600px;
    height: 425px;
    padding: 20px;

  }
.table{
    width: 100%;
    text-align: center;
}
.label{
    color:#ffff;
}
.titulo{
    text-align: center;
    color:#ffff;
}

